@charset "utf";

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body{
    position:relative;
    min-height: 100vh;
    position: relative;
}

header{
    width:100%;
    height: 300px;
    background-image: url("assets/img/pokemon.jpg");
    background-size:cover;
    background-position-x: center;
    background-position-y:45%;
    background-repeat: no-repeat;
    border: 4px solid #335CB6;
}

nav{
  padding: 1rem;
  background-color: #F8D321;
  border-bottom: 4px solid #335CB6;
  border-left: 4px solid #335CB6;
  border-right: 4px solid #335CB6;
}

nav ul{
  text-align: right;
}

nav ul li{
  display: inline-block;
  margin-right: 2rem;
}

nav a{
  color: #335CB6;
  font-size: larger;
  font-weight:550;
  text-decoration:none;
  padding: 2px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

nav a:hover{
  border-color: #fff;
}

#pokedex-logo{
  width: 267px;
  height: 144px;
}

form {
  display:flex;
  align-items: center;
  gap: 5px;
}

.form-group {
  display:flex;
  align-items: center;
  gap: 10px;
  padding: 15px 20px;
  border-radius: 15px;
}
.titular {
  display:absolute;
  float: left;
  
}
p{
    margin: 10px;
}
span{
    padding: 5px;
   /* border: 1px solid #333;*/
    border-radius: 5px;
    margin: 5px 3px;
    padding: 5px 20px;
    width: auto;
}

span.grass {
    background-color: #9BCC50;
}
span.poison {
    background-color:#B97FC9;
    color: white;
}

span.fire {
    background-color:#FD7D24;
    color:white;
}

span.water {
    background-color: #4592C4;
    color:white;
}

span.flying {
  background-color: #3DC7EF;
  color: white;
}

span.earth {
  background-color: rgb(124, 78, 18);
  color: white;
}

span.electric {
  background-color: rgb(240, 215, 31);
  color: #333;
}
span.normal {
  background-color: grey;
  color: white;
}

span.fairy {
  background-color: rgb(215, 126, 199);
  color: white;
}

span.bug {
  background-color: red;
  color: white;
}

.cartes-pokemon{
  display: grid;
  grid-template-columns: repeat (4, 1fr);
}